.DS_store
.idea/
__pycache__/
*.pyc
*.pdf
*.dat
*.csv
*.png
sample_data/tumor_nuclei_small/tumor_nuclei_small_stardist_Tracks/
sample_data/tumor_nuclei_small/tumor_nuclei_small_piv_data/
sample_data/tumor_nuclei_small/tumor_nuclei_small_voronoi/
sample_data/tumor_nuclei/tumor_nuclei_small_stardist_Tracks/
sample_data/tumor_nuclei/tumor_nuclei_piv_data/
sample_data/tumor_nuclei/tumor_nuclei_voronoi/
venv/
local/
misc/
old/